@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GabrielSans;
  font-weight: bold;
  src: url("../assets/fonts/Gabriel-Sans-Bold.otf");
}

@font-face {
  font-family: GabrielSans;
  font-weight: 500;
  src: url("../assets/fonts/Gabriel-Sans-Medium.otf");
}

@font-face {
  font-family: GabrielSans;
  font-weight: normal;
  src: url("../assets/fonts/Gabriel-Sans-Normal.otf");
}

* {
  @apply text-black;
}